<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wiki Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="text-center mb-4">Wiki Engine</h1>
    <div class="text-center mb-4">
      <p>
        Welcome to this wiki-style article search engine.
        Feel free to submit articles to the database and search for
        anything you'd like.
      </p>
    </div>
    <div class="w-30 container d-flex justify-content-center">
      <a href="/wikiPages/new">
        <button class="btn btn-primary mx-2">Create new article</button>
      </a>
      <a href="/wikiPages/index">
        <button class="btn btn-warning mx-2">Search the database</button>
      </a>
    </div>
    <footer class="fixed-bottom">
      <p class="text-center">Made by Kerron King, 2020</p>
    </footer>
  </body>
</html>